{% extends 'template.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

  <h1>View test successful!</h1>
  <p>Hello from twig, {{ name }}!</p>
  <ul>
    {% for number in numbers %}
      <li> {{ number }} </li>
    {% endfor %}
  </ul>

{% endblock %}
