{% extends 'template.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

  <h1>View test successful!</h1>
  <p>Hello from twig!</p>
  <ul>
    {% for sample in samples %}
      <h2> {{ sample.title }} </h2>
      <p> {{ sample.content }} </p>
    {% endfor %}
  </ul>

{% endblock %}
